# incase .env does not exist
touch .env
touch .envfile

# export all env defined
set -o allexport
source .envfile
source .env
set +o allexport

# BUG: if virtualenv is not created but has a Pipefile 
# error is thrown in layout_pipenv
PIPENV_PIPFILE="${PIPENV_PIPFILE:-Pipfile}"
if [[ -f "$PIPENV_PIPFILE" ]]; then
    set +e
    venv=$(pipenv --bare --venv 2>/dev/null)

    if [[ -z $venv || ! -d $venv ]]; then
        pipenv install --dev
    fi    
    set -e
fi
layout_pipenv
